/* Supporting CSS */

/* Background Image */
#background {
	background-image: url('../Images/background.jpg');
	background-attachment: fixed;
	background-size: cover;
}

u:hover {
	color: gray;
}

img:hover {
	background-color: whitesmoke;
	transition: background-color 1s;
}

.fa-linkedin-in {
	padding: 5px;
}

.fa-github {
	color: lightgray;
	padding: 5px;
}

.fa-github:hover {
	opacity: 80%;
	transition: background-color 1s;
}

/* May use later */

/* h1 {
	font-family: 'Ubuntu', sans-serif;
	font-style: bold;
} */

/* p {
	font-family: 'Roboto', sans-serif;
} */