/* Supporting CSS */

/* Background Image */
#background {
	background-image: url('../Images/background.jpg');
	background-attachment: fixed;
	background-size: cover;
}


/* May use later */

/* h1 {
	font-family: 'Ubuntu', sans-serif;
	font-style: bold;
} */

/* p {
	font-family: 'Roboto', sans-serif;
} */