/* Supporting CSS */

/* Background Image */
#background {
	background-image: url('../Images/background.jpg');
	background-attachment: fixed;
	background-size: cover;
}

.container {
	border-radius: 4px;
}

u:hover {
	color: gray;
}

img:hover {
	background-color: wheat;
	transition: background-color .5s;
	border-radius: 4px;
	opacity: 75%;
}

h3:hover {
	color: lightgray;
	transition: background-color 2s;
}

.fa-linkedin-in {
	padding: 5px;
}

.fa-github {
	color: lightgray;
	padding: 5px;
}

.fa-github:hover {
	opacity: 70%;
	transition: background-color 1s;
}

iframe {
	width: 100%;
    height: -webkit-fill-available;
}

/* May use later */

/* h1 {
	font-family: 'Ubuntu', sans-serif;
	font-style: bold;
} */

/* p {
	font-family: 'Roboto', sans-serif;
} */